@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --lucent-blk-clr: hsla(0, 0%, 0%, 0.6);
    --lucent-blk-clr-75: hsla(0, 0%, 0%, 0.75);
    --red-clr: hsl(9, 100%, 62%);
    --gry-700: hsl(217, 21%, 27%);
    --gray-clr: hsl(0, 0%, 35%);
    --light-gray-clr: hsl(0, 0%, 25%);
    
    --z-base: 0;
    --z-options: 100;
    --z-sticky: 200;
    --z-pop-sidebar: 300;
    --z-navbar: 400;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* Button Elements */
button {
  cursor: pointer;
}

/* Input Elements */
input:focus {
  outline: none;
}

main input:focus-visible {
  background-color: var(--light-gray-clr);
  border: none;
}

/* Player Next Song Button */
.next-song-container:hover {
  .next-song-btn {
    background-color: var(--color-green-400);
    border-color: var(--color-green-400);
    color: var(--background);
  }

  .next-song-title {
    text-decoration: underline var(--color-green-400);
    text-underline-offset: 6px;
  }
}

.player-video-karaoke {
  .karaoke-video-card a, .karaoke-video-card {
    grid-template-columns: repeat(1, minmax(0, 1fr));

    @media(width >= 490px) {
      grid-template-columns: repeat(2, minmax(0, 1fr))
    };

    @media(width >= 1024) {
      grid-template-columns: repeat(1, minmax(0, 1fr));
    }

    @media(width >= 1460px) {
      grid-template-columns: repeat(2, minmax(0, 1fr))
    };
  }
}